<!DOCTYPE html>
<html>
  <head>
    <title>Notification</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Notification</h1>
    <form method="post" action="/create">
      <input type="submit" value="Create">
    </form>
    <form method="post" action="/">
      <input type="submit" value="Set Data">
    </form>
  </br>
    <form method="post" action="/get">
      <input type="submit" value="Get Data">
    </form>
  </body>
</html>
